.text{
    font-family: "Times New Roman", Times, serif;
    line-height: 1;
}
.text_start{
    line-height: 0.5;
}
.hr_set{
    color:#cccc00; border: 2px solid; ;
 
    
}
.text_1{
   line-height: 0.5;
}
.text_card{
    color: white;
}
.text_card_1{
    color: white;
    font-size: 20px;
}
.grd{
    background: linear-gradient(to right, #cccc33, #cc9933);
}
.liters{
    color: white;
}
.yui{
    font-family: 'Abel', sans-serif;
}
.gold_border {
	border-left: 2px solid goldenrod;
    

}
.rid{
    font-family: 'Archivo Black', sans-serif;
}
.text_2{
   line-height: 0.7;
}
.button_styel_first{
    background: linear-gradient(to right, #33cccc, #3366cc);
}
.line_end{
    border-bottom: 10px solid #3366cc;
}
.line_end_img{
    border: 1px solid #000000;
}
.module-border-wrap {
  max-width: 250px;
  padding: 1rem;
  position: relative;
  background: linear-gradient(to right, lightskyblue, blue);
  padding: 15px;
}

.module {
  background: #DCDCDC;
  width: 100%;
  padding: 2rem;
}


.bg_h {
	background-image: url(crimea/экспа-крым/img/54584733_3.jpg);
}

.module-border-wrap_2 {


  max-height: 2%;
  background: linear-gradient(to right, lightskyblue, #4682B4	);
}

#overlay_gold {
   
    display: none;
  
   
   
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;}
    
#overlay {
   
    display: none;
  
   
   
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}
#overlayfirst {
   
    display: none;
  
   
   
    -webkit-animation: fade .6s;
    -moz-animation: fade .6s;
    animation: fade .6s;
    overflow: auto;
}
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
 
h10 {

 font-family: 'Archivo Black', sans-serif;
 font-weight: 500;
 font-size: 1.1em;
 word-spacing: 5px;
     font-kerning: none;
    letter-spacing: 1px;
    
}
 
h9 {

 font-family: 'Archivo Black', sans-serif;
 font-weight: 500;
 font-size: 1.7em;
 word-spacing: 5px;
     font-kerning: none;
    letter-spacing: 1px;
}
 
.letterDrop {

 top: 0.60em;
 display: inline-block;
 text-transform: uppercase;
 letter-spacing: 0.1em;
 opacity: 0.8;
 transform: rotateX(-90deg);
 animation: letterDrop 1.2s ease 1 normal forwards;
}
 
@keyframes letterDrop {

 
 100% {
 opacity: 1;
 top: 4.50em;
 transform: rotateX(360deg);
 }
}
 
span:nth-child(2n) {
 padding: 0;
        min-width: 0px;
        display: inline-block;
}



@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
   
  }
  
}
.stage {
  
  
  height: 150px;
  position: relative;
 
}
.stage:hover .ball {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: .5s;
  animation-fill-mode: forwards;
}
.stage:active .ball {
  animation-play-state: paused;
}
.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}
figure {
  margin: 0;

}
.flip{
    
    
}
.fixs{
    
}
.text_flip{
    
    
}
.otvod{
    
}
.trip{
    
}
.reactt{
    
}
.text_3{
    
}
.text_4{
    
}
.text_5{
    
}
.text_6{
    
}
.text_7{
    
}
.text_8{
    
}
.trekhok{
    
}
.text_9{
        
    }
.text_10{
    
}
.text_11{
    
}
 .text_12{
        
    }
.text_13{
        
    }
.text_16{
    
}
.text_15{
    
}
.text_trip{
       
    }
.text_20{
    
}
.drim{
        
    }
.trt{
       
    }
* {
    transition: all .2s;
}
@media only screen and (max-width : 1440px) {
     .fixs{
        margin-left: 40px;
        margin-top: 30px;
    }
    .flip{
        margin-left: 40px;
        margin-top: 30px;
    }
     .text_card{
        margin-left: 10px;
        margin-top: px;
        font-size: 20px;
        color:white;
    }
    
}

@media only screen and (max-width : 1024px) {
    .text_trip{
     font-size: 12px;   
    }
    .module {
  background: #DCDCDC;
  width: 100%;
  padding: 2rem;
}
    .text_start{
        line-height: 1.0;
    }
    
    .gold_border {
        margin-left: -100px;
        border-left: 2px solid goldenrod;
    height: 100px;
    }
    
    .line_end_img {
        width: 900px;
        margin-top: 10px;
        
    }
    .fixs{
        margin-left: 40px;
        margin-top: 30px;
    }
    .flip{
        margin-left: 40px;
        margin-top: 30px;
    }
    .text_card{
        margin-left: 10px;
        margin-top: px;
        font-size: 20px;
        color:white;
    }
    .otvod{
        margin-left: px;
    }
    .size_cnopka{
        margin-top: -10px;
    }
   
    .reactt{
        width: 100px;
    }
    .text_3{
        text-align: center ;
        margin-top: px;
    }
    .text_4{
       
        margin-top -20px;
    }
    .text_5{
        margin-top: -40px;
     font-size: 40px;
   
    }
    .text_6{
        margin-top: -10px;
        font-size: 30px;
    }
    .text_7{
        margin-left: px;
    }
    .text_8{
        
    }
    .text_9{
        margin-top: -30px;
        font-size: 40px;
        margin-left: -10px;
    }
    .text_10{
         font-size: 30px;
        margin-top: -50px;
    }
    .text_11{
        margin-left: 70px;
         margin-top: -10px;
    }
    .text_12{
        font-size: 15px;
       
    }
    .text_13{
        margin-top: -20px;
    }
    .text_14{
        margin-top: -15px;
    }
    .text_15{
        font-size: 15px;
        
    }
    .text_16{
        margin-left: -10px;
        margin-top: 0px;
    }
    .text_17{
        font-size: 30px;
    }
    .text_18{
        margin-top: -18px;
    }
    .text_19{
         margin-top: -20px;
        font-size: 40px;
        margin-left: -10px;
    }
    .text_20{
        margin-top: -20px;
    }
    .drim{
        margin-top: -20px;
    }
    .trt{
        margin-top: -25px;
    }
@media only screen and (max-width : 768px) {
    .text_trip{
     font-size: 12px;   
    }
    .module {
  background: #DCDCDC;
  width: 100%;
  padding: 2rem;
}
    .text_start{
        line-height: 1.0;
    }
    
    .gold_border {
        margin-left: -100px;
        border-left: 2px solid goldenrod;
    height: 100px;
    }
    
    .line_end_img {
        width: 900px;
        margin-top: 10px;
        
    }
    .fixs{
        margin-left: 10px;
        margin-top: -20px;
    }
    .flip{
        margin-left: 10px;
        margin-top: -20px;
    }
    .text_card{
        margin-left: 10px;
        margin-top: px;
        font-size: 15px;
        color:white;
    }
    .otvod{
        margin-left: px;
    }
    .size_cnopka{
        margin-top: -30px;
    }
   
    .reactt{
        width: 100px;
    }
    .text_3{
        text-align: center ;
        margin-top: px;
    }
    .text_4{
       
        margin-top -20px;
    }
    .text_5{
        margin-top: -50px;
     font-size: 30px;
   
    }
    .text_6{
        margin-top: -30px;
        font-size: 20px;
    }
    .text_7{
        margin-left: px;
    }
    .text_8{
        
    }
    .text_9{
        margin-top: -40px;
        font-size: 30px;
        margin-left: -10px;
    }
    .text_10{
         font-size: 20px;
        margin-top: -45px;
    }
    .text_11{
        margin-left: 40px;
         margin-top: -6px;
    }
    .text_12{
        font-size: 15px;
       
    }
    .text_13{
        margin-top: -20px;
    }
    .text_14{
        margin-top: -45px;
    }
    .text_15{
        font-size: 15px;
        
    }
    .text_16{
        margin-left: 40px;
        margin-top: -12px;
    }
    .text_17{
        font-size: 20px;
    }
    .text_18{
        margin-top: -18px;
    }
    .text_19{
         margin-top: -20px;
        font-size: 30px;
        margin-left: -10px;
    }
    .text_20{
        margin-top: -20px;
    }
    .drim{
        margin-top: -20px;
    }
    .trt{
        margin-top: -25px;
    }
}
@media only screen and (max-width : 425px) {
    .gold_border {
        margin-left: 10px;
        border-left: 2px solid goldenrod;
    height: 100px;
    }
    
    .line_end_img {
        width: auto;
        margin-top: 310px;
        
    }
    .fixs{
        margin-left: 30px;
        margin-top: 250px;
    }
    .flip{
        margin-left: 220px;
        margin-top: -50px;
    }
    .text_card{
        margin-left: 30px;
        margin-top: 130px;
        font-size: 30px;
        color: white;
    }
    .otvod{
        margin-left: 30px;
    }
    .size_cnopka{
        margin-top: -30px;
    }
    .trip{
        margin-top: -100px;
    }
    .reactt{
        width: 100px;
    }
    .text_3{
        text-align: center ;
    }
    .text_4{
        margin-left: 150px;
    }
    .text_5{
      margin-top: -20px;
   
    }
    .text_6{
        margin-top: 20px;
        margin-left: -20px;
    }
    .text_7{
        margin-left: -25px;
    }
    .text_8{
        
    }
    .text_9{
        margin-top: -35px;
        font-size: 40px;
        margin-left: 10px;
    }
    .text_10{
         font-size: 20px;
        margin-top: -5px;
    }
    .text_11{
        margin-left: 0px;
         margin-top: 0px;
    }
    .text_12{
        font-size: 15px;
       
    }
    .text_13{
        margin-top: -30px;
    }
    .text_14{
        margin-top: 0px;
    }
    .text_15{
        font-size: 15px;
        
    }
    .text_16{
        margin-left: 10px;
        margin-top: 0px;
    }
    .text_17{
        font-size: 20px;
    }
    .text_18{
        margin-top: 0px;
    }
    .text_19{
         margin-top: -31px;
        font-size: 40px;
        margin-left: 10px;
    }
    .text_20{
        margin-top: 0px;
    }
    .drim{
        margin-top: 0px;
    }
    .trt{
        margin-top: 0px;
    }
    .text_21{
        text-align: center;
    }
   
}
@media only screen and (max-width : 375px) {
    .gold_border {
        border-left: 2px solid goldenrod;
    height: 100px;
    }
    
    .line_end_img {
        width: auto;
        margin-top: 310px;
        
    }
    .fixs{
        margin-left: 20px;
        margin-top: 180px;
    }
    .flip{
        margin-left: 190px;
        margin-top: -50px;
    }
    .text_card{
        margin-left: 30px;
        margin-top: 130px;
        font-size: 23px;
        color: white;
    }
    .otvod{
        margin-left: 30px;
    }
    .size_cnopka{
        margin-top: -30px;
    }
    .trip{
        margin-top: -100px;
    }
    .reactt{
        width: 100px;
    }
    .text_3{
        text-align: center ;
    }
    .text_4{
        margin-left: 150px;
    }
    .text_5{
      margin-top: -50px;
   
    }
    .text_6{
        margin-top: 20px;
        margin-left: -20px;
    }
    .text_7{
        margin-left: -25px;
    }
    .text_8{
        
    }
    .text_10{
        margin-top: 5px;
    }
}

@media only screen and (max-width : 320px)
{
    .gold_border {
        border-left: 2px solid goldenrod;
    height: 100px;
    }
    
    .line_end_img {
        width: auto;
        margin-top: 310px;
        
    }
    .fixs{
        margin-left: -10px;
        margin-top: 150px;
    }
    .flip{
        margin-left: 155px;
        margin-top: -50px;
    }
    .text_card{
         margin-left: 0px;
        margin-top: 70px;
        font-size: 23px;
        color: white;
    }
    .otvod{
        margin-left: 25px;
    }
    .size_cnopka{
        margin-top: -30px;
    }
    .trip{
        margin-top: -100px;
    }
    .reactt{
        width: 100px;
    }
    .text_3{
        text-align: center ;
    }
    .text_4{
         margin-left: 115px;
   
    }
    text_5{
      margin-top: -50px;
   
    }
    .text_6{
        margin-top: 0px;
        margin-left: -5px;
    }
    .text_7{
        margin-left: 10px;
    }
    .text_8{
        
    }
    .text_10{
        margin-top: 5px;
    }
}

